@import "./template.css";
@import "./elements.css";
@import "./notifications.css";
@import "./settings.css";
@import "./nav.css";
@import "./calibration.css";
@import "./simulation.css";
@import "./projection.css";

body {
  display: grid;
  grid-template-rows: max-content 1fr;

  & header {
    grid-column: 1 / -1;

    & h1 {
      margin: 0;
      padding: 0.25em 0.5em 0 0.5em;
      text-align: center;
    }
  }

  & main {
    height: 100%;
    min-height: 0;

    & section {
      display: grid;
      grid-template-rows: max-content max-content 1fr;
      height: 100%;
      min-height: 0;
      row-gap: 0.5em;

      &[hidden] {
        display: none;
      }

      & h2 {
        margin: 0;
        padding: 0 0.5em;
        text-align: center;
      }

      & .config {
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}

.plot {
  & path {
    fill: none;
    stroke: oklch(var(--colour));
    stroke-width: 1px;
  }

  & line {
    stroke: oklch(var(--colour));
  }

  & circle {
    fill: oklch(var(--colour));
    stroke-width: 1px;
  }

  & rect {
    fill: oklch(var(--colour));
  }

  & text {
    fill: oklch(var(--fg));
  }

  & .grid-horizontal,
  & .grid-vertical {
    stroke: oklch(var(--fg) / 0.5);
    stroke-width: 0.25px;
  }

  & .blue {
    --colour: 0.56 0.2 260;
  }

  & .red {
    --colour: 0.56 0.2 20;
  }

  & .purple {
    --colour: 0.56 0.2 300;
  }

  & .pink {
    --colour: 0.56 0.2 0;
  }

  & .orange {
    --colour: 0.56 0.2 40;
  }

  & .yellow {
    --colour: 0.56 0.2 80;
  }

  & .green {
    --colour: 0.56 0.2 140;
  }

  & .turquoise {
    --colour: 0.56 0.2 180;
  }
}
