:root {
  --theme: 0.6 0.1 195;
  --theme-lightest: 0.7 0.1 195;
  --theme-lighter: 0.65 0.1 195;
  --theme-darker: 0.55 0.1 195;
  --theme-darkest: 0.5 0.1 195;
  --bg-dark: 0.12 0.01 250;
  --fg-dark: 0.96 0 0;
  --bg-light: 0.96 0 0;
  --fg-light: 0.12 0.01 250;
  --error: 0.52 0.22 30;
  --correct: 0.52 0.11 155;
  --hotkey: 0.3 0.05 270;
}

html {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  width: 100vw;
}

body {
  --bg: var(--bg-dark);
  --fg: var(--fg-dark);
  --theme-more: var(--theme-lighter);
  --theme-most: var(--theme-lightest);
  background: oklch(var(--bg));
  color: oklch(var(--fg));
  cursor: default;
  display: grid;
  font-size: 1.1rem;
  grid-template-rows: max-content 1fr;
  height: 100%;
  margin: 0;

  &.light {
    --bg: var(--bg-light);
    --fg: var(--fg-light);
    --theme-more: var(--theme-lighter);
    --theme-most: var(--theme-lightest);

    & input[type="date"]::-webkit-calendar-picker-indicator {
      filter: none;
    }
  }

  & input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }
}

#svg-sprite {
  height: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 0;
}

button,
input[type="submit"],
a {
  align-items: center;
  background: oklch(var(--theme) / 0.75);
  border: none;
  border-radius: 1em;
  box-shadow: 0 0.5em 1em 0.25em oklch(var(--theme) / 0.25);
  color: oklch(var(--fg-dark));
  cursor: pointer;
  display: flex;
  font-family: var(--font-title);
  font-size: 1.2rem;
  height: 2.5em;
  justify-content: center;
  padding: 0 1em;
  transition: background 300ms;
  width: auto;

  &:hover {
    background: oklch(var(--theme-more));
    color: oklch(var(--fg-dark));
    outline: none;
  }

  &:active {
    background: oklch(var(--theme-most));
    color: oklch(var(--fg-dark));
    outline: none;
  }

  &[disabled] {
    box-shadow: none;
    cursor: default;
    opacity: 0.5;
  }
}

input {
  background: none;
  border: none;
  border: 0.05em solid oklch(var(--theme) / 0.5);
  border-radius: 0.25em;
  color: inherit;
  font-family: inherit;
  font-size: 1.1rem;
  padding: 0.25em 0.5em;
  text-align: center;
  transition: border 300ms;
  width: calc(100% - 1.1em);

  &:focus {
    border: 0.05em solid oklch(var(--theme-most));
    outline: none;
  }

  &[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;

    &::-webkit-inner-spin-button,
    &:focus::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  &[type="color"] {
    height: 1em;
  }

  &[type="button"] {
    align-items: center;
    border: 0.05em solid oklch(var(--theme) / 0.5);
    border-radius: 1em;
    box-shadow: 0 0.5em 1em 0.25em oklch(var(--theme) / 0.25);
    color: oklch(var(--fg));
    cursor: pointer;
    display: flex;
    font-family: var(--font-title);
    font-size: 1.2rem;
    height: 2.5em;
    justify-content: center;
    padding: 0 1em;
    transition: background 300ms;
    width: auto;

    &:focus,
    &:hover {
      background: oklch(var(--theme));
      border: 0.05em solid oklch(var(--theme-most));
      color: oklch(var(--fg-dark));
    }
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: oklch(var(--theme));
  border: none;
  border-radius: 0.5em;
  box-shadow: 0 0.5em 1em 0.25em oklch(var(--theme) / 0.4);
  color: oklch(var(--fg));
  cursor: pointer;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.25em 0.5em;
  text-align: center;

  &:focus {
    outline: 0.05em solid oklch(var(--fg) / 0.5);
  }
}

.icon {
  fill: none;
  height: 1em;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2;
  width: 1em;
}

.hotkey {
  align-items: center;
  background: oklch(var(--hotkey));
  border-radius: 0.25em;
  color: oklch(var(--fg-dark));
  display: flex;
  justify-content: center;
  padding: 0.2em 0.5em;
}

.error-input,
.error-input:focus {
  border: 0.1em solid oklch(var(--error) / 0.5);
}

.exit {
  background: oklch(var(--bg));
  font-size: 1rem;
  height: 2em;
  padding: 0.25em;
  position: absolute;
  right: -1em;
  top: -1em;
  width: 2em;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
