/* stylelint-disable font-family-no-missing-generic-family-keyword */
/* stylelint-disable selector-class-pattern */

.jp-connection-dropdown-widget {
  display: none;
  color: var(--jp-ui-font-color1);
  background: var(--jp-layout-color1);
  font-size: 48px;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: calc(8px + var(--jp-cell-prompt-width));
  border: var(--jp-border-width) solid var(--jp-cell-editor-border-color);
  border-bottom: unset;
  background-color: var(--jp-cell-editor-background);
}

[data-jp-theme-name='SageMaker UI Dark'] .jp-connection-dropdown-widget {
  border-color: var(--bl-color-root-neutral-600-20);
  border-radius: 4px 4px 0 0;
}

.jp-connection-dropdown-widget-active {
  display: flex;
}

.jp-mod-editMode .jp-mod-active .jp-connection-dropdown-widget {
  border: var(--jp-border-width) solid var(--jp-cell-editor-active-border-color);
  border-bottom: unset;
  background-color: var(--jp-cell-editor-active-background);
  box-shadow: var(--jp-input-box-shadow);
}

.jp-cell-header-content {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 1px;
  width: 100%;
}

.jp-cell-header-content > span {
  font-family: var(--jp-ui-font-family);
  font-size: var(--jp-code-font-size);
  line-height: var(--jp-code-line-height);
  color: #999;
  padding: 2px 8px;
}

.jp-cell-header-content > label {
  font-family: var(--jp-ui-font-family);
  font-size: var(--jp-code-font-size);
  line-height: var(--jp-code-line-height);
  display: inline-flex;
  align-items: center;
  gap: 2px;
}

.jp-cell-header-content > .jp-HTMLSelect {
  position: relative;
}

.jp-cell-header-content > .jp-HTMLSelect.jp-DefaultStyle select {
  line-height: 1rem;
}

.jp-cell-header-content > input {
  flex-grow: 0.2;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: unset;
  padding: 2px 8px;
}

.jp-cell-header-content .jp-cell-header-info-icon {
  padding-left: 6px;
  color: inherit;
  align-self: center;
}

.jp-cell-header-content .jp-cell-header-local-execution-tooltip {
  display: flex;
}

.jp-cell-header-content > input:focus {
  /* TODO: get onFocus background and border color from design */
  border-color: var(--juptyer-blue-1, #1976d2);
  background-color: var(--jp-layout-color3);
}

.jp-cell-header-content > input:hover {
  /* TODO: get onHover background and border color from design */
  background-color: var(--jp-layout-color3);
}

.jp-create-connection-form {
  max-height: 800px;
  overflow: auto;
}

.jp-data-connections-panel {
  background: var(--jp-layout-color1);
  color: var(--jp-ui-font-color1);
  font-size: var(--jp-ui-font-size1);
  overflow-y: auto;
}
