/* src/css/directory.css */
.treeselect {
    width: 16px !important;
    height: 16px !important;
    min-height: 16px !important;
    vertical-align: middle;
    float:right;
    appearance: auto !important;
}

.treeicon {
    width: 24px;
    vertical-align: middle;
    margin-left: 10px;
    margin-right: 10px;
}

.open_link {
    margin-left: 20px;
}

.metadata_table tr,td {
    border: 1px solid black;
}

#l10n_controls {
    margin-left: auto;
    margin-right: 0;
}




/* src/css/common.css */
.hyrrokkin_header {
    background-color: #DDD;
    min-height: 40px;
}

.hyrrokkin_header_title {
    display: inline;
    margin-left: 20px;
    font-size: 32px;
}

.hyrrokkin_header_icon {
    height: 32px;
    margin-top: 4px;
    margin-right: 20px;
}

.hyrrokkin_header_right {
    float: right;
}

.hyrrokkin_header_text {
    margin-left: 20px;
}

.hyrrokkin_header_link {
    vertical-align: super;
    margin-right: 20px;
}


