# Created by Nimby
--path:"/root/.nimby/pkgs/flatty/src"
--path:"/root/.nimby/pkgs/bumpy/src"
--path:"/root/.nimby/pkgs/webby/src"
--path:"/root/.nimby/pkgs/bitty/src"
--path:"/root/.nimby/pkgs/crunchy/src"
--path:"/root/.nimby/pkgs/opengl/src"
--path:"/root/.nimby/pkgs/nimsimd/src"
--path:"/root/.nimby/pkgs/jsony/src"
--path:"/root/.nimby/pkgs/libcurl"
--path:"/root/.nimby/pkgs/puppy/src"
--path:"/root/.nimby/pkgs/windy/src"
--path:"/root/.nimby/pkgs/vmath/src"
--path:"/root/.nimby/pkgs/chroma/src"
--path:"/root/.nimby/pkgs/urlly/src"
--path:"/root/.nimby/pkgs/ws/src"
--path:"/root/.nimby/pkgs/silky/src"
--path:"/root/.nimby/pkgs/cligen"
--path:"/root/.nimby/pkgs/boxy/src"
--path:"/root/.nimby/pkgs/genny/src"
--path:"/root/.nimby/pkgs/shady/src"
--path:"/root/.nimby/pkgs/supersnappy/src"
--path:"/root/.nimby/pkgs/zippy/src"
--path:"/root/.nimby/pkgs/pixie/src"
--path:"/root/.nimby/pkgs/fidget2/src"
